*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;     
}

body{
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
}

/*header*/

header{
   width: 100vw;
   height: 100vh;
   background: #2980B9;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, hsla(0, 0%, 100%, 0.356), hsla(196, 93%, 70%, 0.644), #2980B9), url(../img/fotogrande.jpg);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, hsla(0, 0%, 100%, 0.356), hsla(196, 93%, 70%, 0.644), #2980B9), url(../img/fotogrande.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-size: cover ;
}

nav{
   float: right;
   padding: 30px 50px 0 0;
}

nav > a{
   color: #fff;
   font-weight: 300px;
   font-size: 20px;
   text-decoration: none;
   margin-right: 10px;

}

nav > a:hover {
   text-decoration: underline;
}

header .textos-header{

   position: relative;
   top: 290px;
   left: 70px;
   
  
}

.textos-header p1{
   font-size: 40px;
   color: #fff;
}

.textos-header p2{
   font-size: 43px;
   color: #fff;

}
.textos-header p3{
   font-size: 33px;
   color: #fff;
}

.bottomheader a{
   text-decoration: none;
   color: #fff;
}

.bottomheader {
   display: block;
   width: 120px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
   background-color: rgb(83, 119, 185);
   border-radius: 20px;
   padding: 15px 26px;
   margin: 30px -2px;  
}


