<!DOCTYPE html>
<html lang="es"> 
    <head>
        <link rel="stylesheet" href="/static/styles/style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="x-UA-Compatible" content="ie=edge">
        <title>Carty </title>
    </head>
    <body style="background-color: #dbdbdb  ">
        <header> 
            <nav>
                <a href="usuario.html"> usuario</a>
                 <a href="comercio.html"> comércio </a>
                <a href="preguntasfrecuentes.html"> FQAs </a>

            </nav>
            <div class="textos-header">
               <p1>¡Obten ese respuesto </p1>
               <br>
               <p2>que necesitas HOY</p2>
               <br>
               <p3> en tus tiendas favoritas!</p3>
            </di>
            <div class="bottomheader">
                <a href="https://www.google.com/?hl=es"> comercio</a>
            </div>


        </header>
        <!-- main -->
        <main>
            <div class="marcas">
             <h1>sd</h1>
            </div>

        </main>
        <!-- empezamos el footer -->
        <footer>
            <div class="contenedorfooter">
                <div class="contentfoo">
                    <h4>
                        phone
                    </h4>
                    <p>0412xxxxx</p>
                </div>
                <div class="contentfoo">
                    <h4>
                        email
                    </h4>
                    <p>0412xxxxx</p>
                </div> <div class="contentfoo">
                    <h4>
                         <!-- oficina de nosotros -->
                        location 
                    </h4>
                    <p>0412xxxxx</p>
                </div>
            </div>
        </footer>
        
        
    </body>
</html>