*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #e0e1dd;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    padding: 0px 10px;
    z-index: 1;
}

header.abajo {
    background:#e0e1dd;
}

.logo img {
    width: 120px;
    height: 100px;
    padding: 0 30px;
    cursor: pointer;
    margin-top: 10px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #d8d0d0;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.7s;
}

.portada{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0d1b2a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #415a77, #1b263b, #0d1b2a), url(../img/fotogrande.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.356), hsla(196, 93%, 70%, 0.644), #0d1b2a), url(../img/fotogrande.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover ;
    
}

header.abajo .logo, 
header.abajo li a{
    color: black;
}

.contenido-portada h1{
    position: absolute;
    top :250px;
    left: 50px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.contenido-portada h2{
    position: absolute;
    top :400px;
    left: 50px;
    font-size: 20px;
    font-weight: 400;
}

.botones .usuario{
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    top: 450px;
    left: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding: 15px;
    background: #1b263b;
    outline: none;
    border: none;
    color: #e0e1dd;
}

.botones .usuario:hover{
    box-shadow: 0 3px #0d1b2a;
    top: 448px
}

.botones .comercio{
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    top: 450px;
    left: 180px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 5px;
    padding: 15px;
    background: #1b263b;
    outline: none;
    border: none;
    color: #e0e1dd;
}

.botones .comercio:hover{
    box-shadow: 0 3px #0d1b2a;
    top: 448px
}

.article-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.q1{
    text-align: left;
    padding: 50px;
}

.q1 .q1-1{
    font-weight: 400;
}

.q1 .q1-1,
.p-2{
    font-size: 20px;
}

.q1 .p-1{
    font-size: 40px;
    font-weight: 800;
}

.img-iso img{
    right: 50px;
    width: 450px;
    height: 450px;
    padding: 10px 50px;
}

.adv{
    padding: 50px;
    background-color: #1b263b;
    color: white;
}

.adv .ventajas{
    font-weight: 400;
}

.adv .adv-1{
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.adv .adv-1 .adv-2{
    width: 370px;
    margin: 0 20px 0 0;
    padding: 10px;
    border: 1px solid #415a77;
    border-radius: 5px;
    text-align: center;
}

/* .adv .adv-1 .adv-2:hover{
    box-shadow:  12px 16px 21px -2px rgba(65,90,119,0.52);
} */

.adv-2 .img-adv1{
    width: 100px;
    height: 100px;
}

/* cosas por hacer: 
1. Efecto maquina de escribir al titulo principal
2. hover animado a las ventajas 
3. Seccion de 'pronto disponible'
4. footer 
5. comenzar a trabajar en los modales 
6. trabajar sobre paginas informativas
7. redefinir botones y colores
8. linkear la base de datos */