*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;     
}

body{
   font-family: serif;
}

/*header*/

header{
   width: 100%;
   height: 600px;
   background: #2980B9;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, hsla(0, 0%, 100%, 0.356), hsla(196, 93%, 70%, 0.644), #2980B9), url(../img/fotogrande.jpg);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, hsla(0, 0%, 100%, 0.356), hsla(196, 93%, 70%, 0.644), #2980B9), url(../img/fotogrande.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-size: cover ;
   background-attachment: fixed;
   position: relative;
}

nav{
   text-align: right;
   padding: 30px 50px 0 0;
}

nav > a{
   color: #fff;
   font-weight: 300;
   text-decoration: none;
   margin-right: 10px;

}

nav > a:hover {
   text-decoration: underline;
}

header .textos-header{

   display:inline-flex;
   height: 1000px;
   width: 600px;
   align-items:center;
   padding-left: 20px;
   
   flex-direction:column;
   text-align: center;
}

.textos-header h1{
   font-size: 30px;
   color: #fff;
}


