<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" href="static/img/letra.ico" type="image/x-icon">
    <title>Carty</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/static/img/Logo.png" alt="logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/usuario">Usuario</a></li>
                <li><a href="#">Comercio</a></li>
                <li><a href="/FQAs" target="_blank">FQAs</a></li>
            </ul>
        </nav>
    </header>  
    <main>
        
        <!--Portada,textos y botones-->
        <section class="hero">
            <div class="portada">
                <div class="contenido-portada">
                    <h1>Obten ese repuesto <br>
                    que necesitas HOY <br>
                    en tus tiendas favoritas</h1>
                    <br>
                    <h2>Puedes registrarte como usuario o comercio</h2>
                </div>
                <div class="botones">
                    <a class="usuario" href="#" >Usuario</a>
                    <a href="#" class="comercio">Comercio</a>
                </div>
            </div>
        </section> 
        
        <!--Por que Carty?-->
        <div class="article-1">
            <div class="q1">
                <h2 class="q1-1">¿Por que usar Carty?</h2>
                <br>
                <p class="p-1">Solucionamos problemas <br>grandes en pequeños pasos</p>
                <br>
                <p class="p-2">En Carty te ayudamos a conectar con tu repuesto ideal en tres
                 sencillos pasos: Solicita, Selecciona y Concreta. De esta manera
                 facilitamos el proceso de adquisicion de repuestos automotrices
                </p>
            </div>
            <div class="img-iso">
                <!--IMAGEN-->
                <img src="static/img/isometrica.png" alt="">
            </div>
        </div>

        <div class="article-2">
            <div class="adv">
                <h2 class="ventajas">Ventajas de usar Carty</h2>
                <br>
                <div class="adv-1">
                    <div class="adv-2"><img src="/static/img/letra.ico" alt="" class="img-adv1"> <br> Peticiones en tiempo real <br><br> Tus solicitudes se realizan en tiempo real por lo que las respuestas suelen ser inmediatas</div>
                    <div class="adv-2"><img src="/static/img/letra.ico" alt="" class="img-adv1"> <br> Garantia exclusiva <br><br> Al utilizar el servicio de delivery obtendras una garantia por extravia o daño de tu repuesto</div>
                    <div class="adv-2"><img src="/static/img/letra.ico" alt="" class="img-adv1"> <br> Precios competitivos <br><br>Obtendras respuesta de varias empresas, por lo que podras elegir el precio que mas te parezca</div>
                    <div class="adv-2"><img src="/static/img/letra.ico" alt="" class="img-adv1"> <br> Precios competitivos <br><br>Obtendras respuesta de varias empresas, por lo que podras elegir el precio que mas te parezca</div>
                </div>
            </div>

        </div>
    </main>


    <!-- script solo para el header-->
    <script type='text/javascript'>
        window.addEventListener("scroll", function(){
            var header= document.querySelector('header');
            header.classList.toggle('abajo',window.scrollY > 0);
        })
    </script>
</body>
</html>