<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet"> 
    <title>Carty</title>
</head>
<body>
    <header>
        <a href="" class="logo">CARTY</a>
        <nav>
            <ul>
                <li><a href="#">Usuario</a></li>
                <li><a href="#">Comercio</a></li>
                <li><a href="#">FQAs</a></li>
            </ul>
        </nav>
    </header>  
    <main>
        
        <!--Portada,textos y botones-->
        <section class="hero">
            <div class="portada">
                <div class="contenido-portada">
                    <h1>Obten ese repuesto <br>
                    que necesitas HOY <br>
                    en tus tiendas favoritas</h1>
                    <br>
                    <h2>Puedes registrarte como usuario o comercio</h2>
                </div>
                <div class="botones">
                    <a class="usuario" href="#" >Usuario</a>
                    <a href="#" class="comercio">Comercio</a>
                </div>
            </div>
        </section> 
        
        <!--Por que Carty?-->
        <div class="article-1">
            <div class="q1">
                <h2 class="q1-1">¿Por que usar Carty?</h2>
                <br>
                <p class="p-1">Solucionamos problemas <br>grandes en pequeños pasos</p>
                <br>
                <p class="p-2">En Carty te ayudamos a conectar con tu repuesto ideal en tres <br>
                 sencillos pasos: Solicita, Selecciona y Concreta. De esta manera <br>
                 facilitamos el proceso de adquisicion de repuestos automotrices
                </p>
            </div>
            <div class="img-iso">
                <!--IMAGEN-->
                <p>Estaria bueno un video explicativo</p>
            </div>
        </div>

        <div class="article-2">
            <div class="aliados">
                <h2 class="aliados-1">Aliados</h2>
            </div>

        </div>
    </main>


    <!-- script solo para el header-->
    <script type='text/javascript'>
        window.addEventListener("scroll", function(){
            var header= document.querySelector('header');
            header.classList.toggle('abajo',window.scrollY > 0);
        })
    </script>
</body>
</html>